.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.searchInput {
  width: 50%;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
}
